{% extends 'base.html' %} 
{% block content %}

<h1 class="mt-5 mb-3">About Julian</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
        <img src="{{ url_for('static', filename='images/ProfilePic.jpg') }}" class="rounded float-start" alt="MugShot">
        </div>
        <div class="col-sm">
        <h3 class="mb-3">Bio</h3>
        
        <p> I am a prior service member who served as a Sergeant in the Marine Corps. During my time in the military, I gained experience working on Windows and Linux systems running different services to ensure interoperability and aggregate data points from multiple sources. My primary focus was to display this information on a map for Air Traffic Controllers.</p>

        <p>After serving for 5 years, I decided to pursue higher education at a college in New York City. While working towards an Associate of Science degree in Computer Science and Information Security, I also studied and obtained the CCNA certification. This certification opened up opportunities for me, and I landed a job as a Network Administrator for the Marine Corp Enterprise Network.</p>

        <p>As I grew more comfortable in my role as a Network Administrator and completed my CCNP and CASP+ certifications, I felt a desire to further advance my education. I enrolled at UMKC, as they offered great support for non-traditional college students. Currently, I am focused on enhancing my skills with the next generation of networking tools because I am keen on joining a NetDevOps team after completing my Bachelor's degree in Computer Science.</p>

        <p>I am continuously striving to improve myself and stay up-to-date with the latest advancements in the field of networking because I am passionate about working with cutting-edge technologies.</p>
        </div>
    </div>
</div>
<a href="{{ url_for('static', filename='pdf/resume.pdf') }}" download="julianResume.pdf">
    <button type="button" class="btn btn-secondary">Download Resume</button>
</a>



{% endblock %}