{% extends 'base.html' %} 

{% block content %}
  <style>
    .contact-content {
      font-size: 20px;
    }
  </style>

<div class="contact-content">
  <h1>Contact me</h1>
  <ul class="list-unstyled">
    <li><i class="fa fa-map-marker fa-fw"></i> Overland Park, KS</li>
    <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="mailto:email@example.com">email@example.com</a></li>
    <li><i class="fa fa-phone fa-fw"></i> Phone: <a href="tel:+1555555555">(555)-555-555</a></li>
  </ul>
</div>

{% endblock %}
