{% extends 'base.html' %} 
{% block content %}
<h1>Julian Davis</h1>
<p>Network Administrator<br/> 
   Experienced in Enterprise WAN/LAN<br/>
   Passionate about Automation, Fullstack Development, and Cloud Technologies<br/>
   I am a Cisco Certified Network Professional. Currently working on completing a Bachelors of Science in Computer Science at the University of Missouri - Kansas City</p>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="mb-3">Work Experience</h3>
        <div class="card">
        <div class="card-body">
          <h4>Sr. IT Specialist</h4>
        <div><strong>2020-Current</strong></div>
        Supporting an Enterprise Network Operations Team in a mixed vender enviroment by troubleshooting and repairing routers, switches, and firewalls.
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Utilize tools like Wireshark and TCPDump for analysis/troubleshooting on multiple network Operating systems</li>
          <li class="list-group-item">Develop and maintain network topologies using Microsoft suite(Visio, Excel, OneNote, Word)</li>
          <li class="list-group-item">Cable and configure switches, routers, firewalls and load-balancers</li>
        </ul>
        </div>
        </div>
      <div class="card mt-3">
        <div class="card-body">
          <h4>Air Defense System Technician</h4>
        <div><strong>2014-2019</strong></div>
        Perform installation and maintenance of electronic aircraft defense systems.
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Install and patch Linux and Windows Operating Systems</li>
          <li class="list-group-item">Configured Network Management policies</li>
          <li class="list-group-item">Provide End-User suport to a Air Traffic Control Officers</li>
        </ul>
        </div>
        </div>
      </div>
    <div class="col-sm-4">
      <h3 class="mb-3">Skills</h3>
      <div class="card mb-3">
        <div class="card-body">
          <h4>Network Administration</h4>
            <ul>
              <li>Cisco Routers</li>
              <li>Cisco Switches</li>
              <li>Juniper SRX</li>
              <li>Fortigate</li>
              <li>F5 BIG-IP</li>
              <li>Palo Alto</li>
              <li>Wireshark</li>
              <li>TCPDump</li>
            </ul>
          </div>
        </div>
      <div class="card">
        <div class="card-body">
          <h4>Programming/Automation</h4>
          <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>Ansible</li>
            <li>Netmiko</li>
            <li>Jinja</li>
            <li>HTML</li>
            <li>Bootstrap</li>
            <li>C++</li>
            <li>PyQT</li>
            <li>MySQL</li>
          </ul>
          </div>
        </div>
    </div>
      


{% endblock %}