{% extends 'base.html' %} 
{% block content %}

<h3>Previous Projects</h3>
<div class="row">
    {% for project in projects %}
    <div class="col-lg-3">
      <div class="card mb-3">
        <img src="" alt="Project {{ loop.index }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Project {{ loop.index }}</h5>
          <p class="card-text">Project description</p>
          <a href="#" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<h3>Education Background</h3>
<div class="row">
    {% for education in education_background %}
    <div class="col-lg-3">
      <div class="card mb-3">
          <div class="card-header">
              {{ education.class_code }}
          </div>

        <div class="card-body">
          <h5 class="card-title">{{ education.class_name }}</h5>
          <p class="card-text">{{ education.class_description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}