.card.expanded {
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  width: 100%;
  z-index: 9999;
}

.card-body.project{
    position: relative;
    z-index:1;
}

.card.expanded .card-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card.expanded .card-img-top {
  max-height: 50vh;
  max-width: 50vw;
}
.card.expanded .card-title,
.card.expanded .card-text {
  text-align: center;
  overflow-wrap: break-word;
    max-height: 95%;
}
.card.expanded .btn {
  display: none;
}
.card-img-top {
    margin:auto;
}

.card-content-scroll {
  overflow-y: auto;
}
.reset-btn {
    display: none;
}

.truncate, .truncate-project {
  max-height: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.full-description,
.full-description-project{
    overflow: show;
    
}

.card {
  position: relative; 
}
.card.expanded ~ .card { 
  display: none;
}

.expand-card,
.shrink-card {
  font-size: 1rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: none;
  transition: background 0.3s;
}

.expand-card::after{
    content: "\2193";
    margin-left: 0.5rem;
    
}
.shrink-card::after {
  content: "\2191";
  margin-left: 0.5rem;
}


.img {
    margin: auto;
    align-items: auto;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    z-index: 1;
    transition: opacity 0.3s;
}